# =============================================================================
# Please install required packages with:
# pip install -r requirements.txt
# =============================================================================
#
# [for me] Remember to also add them in setup.cfg but unpinned.
pandas>=0.24
matplotlib>=3.0.1
scipy>=0.15.1
tqdm>=4.1
Keras>=2.0
setuptools>=38.0
tensorflow>=1.11
numpy>=1.7
h5py>=2.8
Bio==0.1.0
RNA==0.1.0.dev1
scikit_learn>=0.19
