# =============================================================================
# Please install required packages with:
# pip install -r requirements.txt
# =============================================================================
#
# [for me] Remember to also add them in setup.cfg but unpinned.
numpy==1.16.3
pandas>=0.24
biopython==1.73
scikit.learn>=0.19
Keras==2.2.4
matplotlib>=1.4.3
scipy>=0.15.1
tqdm>=4.1
tensorflow==1.13.1
