# =============================================================================
# Please install required packages with:
# pip install -r requirements.txt
# =============================================================================
#
# [for me] Remember to also add them in setup.cfg but unpinned.
numpy==1.13.3
scipy==1.0
Bio==
RNA==
